.wrapper{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:aliceblue;
    margin-left:10%;
    margin-right:10%;
    .loginType{
        display: flex;
        width: 100%;
        align-items:center;
        margin-top:5rem;
        button{
            background-color: rgb(16, 16, 66);
            width: 100%;
            align-items: center;
            a{
            font-size:180%;
            text-transform:capitalize;
            color: rgb(143, 189, 142) ;
            }
        }
    }
}