@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital@0;1&family=Mulish:wght@500&family=PT+Sans+Narrow&family=Poppins&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

////colors
$pink-1: #F72585;
$pink-2: #B5179E;
$purple-1: #560BAD;
$purple-2: #3A0CA3;

$white-bg:#EAFCFF;
$blue-dark: #0B0055;
$blue-medium: #00017A;
$blue-light: #0053A6;
$blue-lightest: #0079F2;
$orange-dark: #F95D1D;
$orange-medium: #FC6D1C;
$orange-light: #FE780E;


:root {
    --colab-font:'Mulish', sans-serif;
    --colab-background-color:linear-gradient(to right, #ffff, #ECE9E6);
    --web-kit : -webkit-linear-gradient(to left, #ffff, #FFFFFF ); 
    --background: $white-bg;

}

body {
    font-family: var(--colab-font);
    background: $white-bg;
}

button,
input,
select {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0a3b16;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(218, 188, 188);
}