.Wrapper{

    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content:center;
    align-items:center;
    //:;
    >div{
    position:absolute;
    left:15rem;
    right:15rem;
    top:15rem;
    font-size:150%;
    text-align:center;
        color: rgb(8, 8, 70);

        & strong{
            color: rgb(6, 51, 4);
            font-size: larger;
        }
    }

    .joinBtn{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 22rem;
        button{
            background-color: rgb(16, 16, 66);
            width: 40%;
            align-items: center;
            a{
            font-size:180%;
            text-transform:capitalize;
            color: rgb(143, 189, 142) ;
            }
        }
        
    }
}



.arbitrary{
    height:25vh;
    box-sizing: border-box;
    // position: fixed;
    border-radius: 60% 0% 0% 0% / 100px;
    background-color: rgba(3, 2, 24, 0.938);
    -webkit-border-radius: 60% 0% 0% 0% / 100px;
    -moz-border-radius: 60% 0% 0% 0% / 100px;
    -ms-border-radius: 60% 0% 0% 0% / 100px;
    -o-border-radius: 60% 0% 0% 0% / 100px;
}   
    